{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#1 Best Python online training course in Calicut, Kerala | Python internship</title>
    <link rel="shortcut icon" href="{% static 'images/icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <div id="nav">
        <div id="nav_first">
            <img src="https:///assets/images/logo.png" alt="" id="nav_icon">
        </div>

        <div id="nav_second">
            <div id="li_div">
                <ul>
                    <select name="program" id="nav_select">
                        <option value="" selected>Program</option>
                        <option value="">Certification in Python Full Stack Development</option>
                        <option value="">Diploma in Python Full Stack Development</option>
                        <option value="">Certification in Flutter</option>
                        <option value="">Diploma in Flutter Development</option>
                    </select>
                    <li class="nav_li">Placement</li>
                    <li class="nav_li">About us</li>
                    <li class="nav_li">Blog</li>
                    <li class="nav_li">Gallery</li>
                    <li class="nav_li">Contact</li>
                    <li class="nav_li">Courses</li>
                    <button class="enquire_btn">Enquire Now</button>
                </ul>
            </div>

        </div>
    </div>

    <div id="home_container">
        <div class="left_container">
            <div id="left_text">
                <h5 class="color_white">------LEARN SOFTWARE</h5>
                <h2 class="color_white">Getting a Software Job is So Easy <br> Now with our IT Internship <br> Programs.
                </h2>
                <p class="color_offwhite">Learn programming from Kerala's most trusted software <br> training company
                    with
                    the highest placement record. <br>
                    Enroll in software courses and internship programs in <br> Python, Flutter, Angular and PHP to start
                    your
                    career.</p><br>
                <button class="enquire_btn">Our Course</button>
            </div>

        </div>

        <div class="right_container">
            <div id="right_img">
                <img src="https://cdn2.advanceinfotech.org/kozhikode.directory/1200x675/business/698/01-1636952027.webp"
                    alt="" class="homeright_img">
            </div>
        </div>


    </div><br><br><br>


    <div>
        <h4 class="text_align" style="color: red;">EXPERTISE IN EDUCATION</h4>
        <h2 class="text_align">Ed-tech company with 11 years of industry leadership in training and <br>
            placements,
            holding highest number of
            placement track in Malabar.</h2>
    </div><br><br>

    <div id="flex_container">

        <div class="flex_box">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1869px-Python-logo-notext.svg.png"
                alt="" class="course_img">
            <h4 class="text_course">Python <br> Training</h4>
        </div>


        <div class="flex_box">
            <img src="https://dt-cdn.net/hub/logo_flutter_1080px_clr_J6ztlt7.svg" alt="" class="course_img">
            <h4 class="text_course">Flutter <br> Training</h4>
        </div>

        <div class="flex_box">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png"
                alt="" class="course_img">
            <h4 class="text_course">Angular <br> Training</h4>
        </div>

        <div class="flex_box">
            <img src="https://cdn.iconscout.com/icon/free/png-256/php-99-1175127.png" alt="" class="course_img">
            <h4 class="text_course">PHP <br> Training</h4>
        </div>
    </div>

    <div class="oray_box">
        <div style="width: 30%; height: 150%; float: left;">
            <img src="https://www.amarmirgheducation.com/images/awarding_8.jpg" alt="" id="img_oray" class="inline">
        </div>
        <div style="width: 70%; height: 150px; float: right; padding-top: 25px;" class="color_white">
            <h5 style="color: rgb(205, 211, 218); line-height: .1; "> ----WE ARE AFFILIATED WITH</h5>
            <h2>Oray Education London, UK</h2>
            <button class="download_btn">Download Brochure</button>
        </div>
    </div>

    <div style="text-align: center;">
        <h5 style="color: red;">HIRING PARTNERS</h5>
        <h2>Organizations Our Students are <br> Placed at</h2>
    </div>
    <div class="partners">
        <div class="wapper">
            <div><img src="https://www.baabtra.com/assets/images/company/cognizant.png" alt="" class="wapper_img"></div>
            <div><img src="https://www.baabtra.com/assets/images/company/infosys.png" alt="" class="wapper_img"></div>
            <div><img src="https://www.baabtra.com/assets/images/company/oracle.png" alt="" class="wapper_img"></div>
            <div><img src="https://www.baabtra.com/assets/images/company/tata-consultancy-service.png" alt=""
                    class="wapper_img"></div>
            <div><img src="https://www.baabtra.com/assets/images/company/schneider-electric.png" alt=""
                    class="wapper_img"></div>
            <div><img src="https://www.baabtra.com/assets/images/company/UST-Global.png" alt="" class="wapper_img">
            </div>
            <div><img src="https://www.baabtra.com/assets/images/company/sesame-inspire-innovate.png" alt=""
                    class="wapper_img"></div>
            <div><img src="https://www.baabtra.com/assets/images/company/nucore.png" alt="" class="wapper_img"></div>
            <div><img src="https://www.baabtra.com/assets/images/company/SRIT-India.png" alt="" class="wapper_img">
            </div>
            <div><img src="https://www.baabtra.com/assets/images/company/vinam.png" alt="" class="wapper_img"></div>
            <div><img src="https://www.baabtra.com/assets/images/company/UL-Technology-Solutions.png" class="wapper_img"></div>
            <div><img src="https://www.baabtra.com/assets/images/company/Limenzy-Technology.png" alt=""
                    class="wapper_img"></div>
        </div>
    </div>

    <div>
        <img src="https://seeklogo.com/images/W/whatsapp-icon-logo-8CA4FB831E-seeklogo.com.png" alt="" class="wts_fixed">
    </div>




</body>

</html>